# Default ignored files
/../../Apteczna_Baza_Klientów_i_Leków  /.idea/shelf/
/../../Apteczna_Baza_Klientów_i_Leków  /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Apteczna_Baza_Klientów_i_Leków  /.idea/httpRequests/
# Datasource local storage ignored files
/../../Apteczna_Baza_Klientów_i_Leków  /.idea/dataSources/
/../../Apteczna_Baza_Klientów_i_Leków  /.idea/dataSources.local.xml
